.primary {
  color: var(--purple);
  background-color: var(--pink);
}
.nav-menu {
  color: var(--purple);
  background-color: var(--white);
}

.button {
  outline: none;
  border: none;
  font-family: "Press Start 2P", cursive;
  padding: 1rem 2rem;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.button::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  border: solid 2px var(--purple);
  background-color: transparent;
}
.button::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  border-radius: 1rem;
  background-color: var(--purple);
  z-index: -1;
}

.button:hover {
  background-color: #fff;
  transform: translateY(4px);
}

.button:hover:before {
  bottom: 0;
  background-color: transparent;
}

.nav-menu:hover {
  background-color: var(--lime);
}
