.form {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--bluesky);
  border: solid 4px var(--purple);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}
