.footer {
  background-color: var(--white);
  position: relative;
  bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;

  border: solid 4px var(--purple);
  border-radius: 2rem;
  padding: 2rem;
}

.inputContainer {
  display: flex;
  gap: 1rem;
}

.biodataInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about p {
  margin-top: 2rem;
  max-width: 450px;
}

.formDescription p {
  color: var(--pink);
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }
  .inputContainer {
    flex-direction: column;
  }
  .about p {
    margin-top: 1rem;
    max-width: unset;
    width: 100%;
  }
}
